/* CSS declarations go here */




body{
    background-color: lightskyblue;
}

h1, h2, h3 {
    font-family: "Raleway", sans-serif;
}

#navigationBar {
    color: white;
    margin-bottom: 10px;
    background-color: #6ca4c8;
    border: none;
}

#navigationBar ul li a {
    color: white;
}

#loginButton {
    margin-right: 5px;
    padding: 15px;
}

a.navOption {
    color: white;
}

#login-buttons {
    color: black;
}

a#forgot-password-link.additional-link {
    color: black;
}

a#signup-link.additional-link {
    color: black;
}

#navigationBar a#mainTitle {
    color: #ffffb2;
    font-size: 2.5em;
    text-shadow: -2px -2px #6ca4c8, 2px 2px #ff4c4c;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0;
}

.mainTitle {
    color: #ffffb2;
    font-size: 4.5em;
    text-shadow: -2px -2px #6ca4c8, 2px 2px #ff4c4c;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0;
}

.playGameTitle {
    color: #ff4c4c;
    font-size: 4.5em;
    text-shadow: 2px 2px lightskyblue;
    font-family: 'Raleway', sans-serif;
}

#loginTitle {
    color: #ffffb2;
    margin-left: 10px;
}

#mainbox, #chatPanel, #infoPanel, #opponentBoard, #instructionsPanel {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fffff9;
    border: none;
}

p{
    margin-top: 0px;
    margin-right: 1px;
    margin-bottom: 0px;
    margin-left: 0px;

}

.mySlides{
    display: none;
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    border: 1px solid #4c7dc8;
    -moz-box-shadow:
            3px 3px 3px   rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(184, 216, 255, 0.77);
    -webkit-box-shadow:
            3px 3px 3px  rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(184, 216, 255,0.77);
    box-shadow:
            3px 3px 5px  rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(184, 216, 255, 0.77);
}

/* panel right margins */
#mainbox, #chatPanel, #newMessage {
    margin-right: 10px;
}

#mainbox {
    height: 40em;
    background-color: #6ca4c8;
}

#mainbox img {
    border-radius: 6px;
}

#mainbox img.playerTile {
    max-height: 10em;
    max-width: 6em;
    box-shadow: 1px 1px 2px gray;
    margin-bottom: 2px;
}

#mainbox #myTile {
    height: 15em;
    border-radius: 16px;

    -moz-box-shadow:
            3px 3px 3px   rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(255, 138, 162, 0.77);
    -webkit-box-shadow:
            3px 3px 3px   rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(255, 138, 162, 0.77);
    box-shadow:
            3px 3px 5px   rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(255, 138, 162, 0.77);
}

#infoPanel {
    height: 30em;
}

#infoPanel ul#usersList li {
    list-style-type: none;
}

#opponentBoard{
    color: #fffff9;
    background-color: #ff4c4c;
    padding: 5px;
    height: 23em;
}

#playerboard{
    background-color: #fffff9;
    height: 37em;
    padding: 10px;

}

#player-row{
    padding: 10px;
    height: 11em;
    padding-left: 1.5em;
}

#opponent-row{
    padding: 10px;
    height: 70px;
}

#opponentBoard img {
    border-radius: 3px;
}


#playerTiles{
    margin-left: 22px;
}

.whiteText {
    color: #ffffb2;
}


::-webkit-scrollbar {
    display: none;
}

/* entire container, keeps perspective */
.flip-container{
    /*perspective*/
    -webkit-perspective:1000;
    -moz-perspective:1000;
    -ms-perspective:1000;
    -o-perspective:1000;
    perspective:1000;
}
/* flip the pane when hovered */
.flipped, .flip1 {
    /*transform*/
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    transform:rotateY(180deg);
}
.flip-container, .front, .back {
    width:50px;
    height:50px;
}
/* flip speed goes here */
.flipper, .flip0 {
    /*transition*/
    -webkit-transition:0.6s;
    -moz-transition:0.6s;
    -o-transition:0.6s;
    transition:0.6s;
    /*transform-style*/
    -webkit-transform-style:preserve-3d;
    -moz-transform-style:preserve-3d;
    -ms-transform-style:preserve-3d;
    -o-transform-style:preserve-3d;
    transform-style:preserve-3d;
    position:relative;
}
/* hide back of pane during swap */
.front, .back{
    /*backface-visibility*/
    -webkit-backface-visibility:hidden;
    -moz-backface-visibility:hidden;
    -ms-backface-visibility:hidden;
    -o-backface-visibility:hidden;
    backface-visibility:hidden;
    position:absolute;
    top:0;
    left:0;
}
/* front pane, placed above back */
.front {
    z-index:2;
}
/* back, initially hidden pane */
.back {
    /*transform*/
    -webkit-transform:rotateY(180deg);
    -moz-transform:rotateY(180deg);
    -ms-transform:rotateY(180deg);
    -o-transform:rotateY(180deg);
    transform:rotateY(180deg);
}


/*chat stuff*/

#chatPanel {
    height: 11em;
    overflow-y: scroll;
}

#newMessage {
    height: 2em;
}

#chatPanel .time {
    color: rgb(180,180,180);
}

/* navbar */
#navbar{
    float: right;
}

/* Non-Login */

.nonlogin {
    color: #ffffb2;
    font-size: 4.5em;
    text-shadow: 2px 2px black;
    font-family: 'Raleway', sans-serif;
    margin-bottom: 0;
    text-align: center;

}


/* User info */

a.userItem:hover, a#backToUsers {
    text-decoration: none;
}

#userInfo {
    display: none;
    padding-left: 10px;
}

.userDisplayName {
    text-transform: capitalize;
}

button.newGameButton {
    position:absolute;
    bottom: 20px;
    width: 70%;
    left: 15%;
}

ul#displayGames {
    text-align: center;
    padding-left: 0;
}

ul#displayGames li {
    list-style-type: none;
}

span.userInGame {
    color: #6ca4c8;
    text-transform: capitalize;
}

/* High Scores */

li.heading {
    background-color: #ff4c4c;
    border: none;
    color: white;
    font-size: larger;
}

#highScoresPanel {
    height: 50em;
    background-color: #6ca4c8;
    border: none;
}

/* Instructions */


#instructionsPanel {
    height: 43em;

    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;


    background: -moz-linear-gradient(
            top,
            #6ca4c8 0%,
            #69a5c8 50%,
            #6baac8 92%,
            #6cadc8);
    background: -webkit-gradient(
            linear, left top, left bottom,
            from(#679ec8),
            color-stop(0.50, #6398c8),
            color-stop(0.92, #5e92c8),
            to(#5989c8));
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    border: 1px solid #4c7dc8;
    -moz-box-shadow:
            3px 3px 3px   rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(184, 216, 255, 0.77);
    -webkit-box-shadow:
            3px 3px 3px  rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(184, 216, 255,0.77);
    box-shadow:
            3px 3px 5px  rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(184, 216, 255, 0.77);
}




/* 3d box effect */
#mainbox{

    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;


    background: -moz-linear-gradient(
            top,
            #6ca4c8 0%,
            #69a5c8 50%,
            #6baac8 92%,
            #6cadc8);
    background: -webkit-gradient(
            linear, left top, left bottom,
            from(#679ec8),
            color-stop(0.50, #6398c8),
            color-stop(0.92, #5e92c8),
            to(#5989c8));
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    border: 1px solid #4c7dc8;
    -moz-box-shadow:
            4px 4px 5px    rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(184, 216, 255, 0.77);
    -webkit-box-shadow:
            4px 4px 5px   rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(184, 216, 255,0.77);
    box-shadow:
            4px 4px 5px  rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(184, 216, 255, 0.77);

}

#highScoresPanel{
    background: -moz-linear-gradient(
            top,
            #6ca4c8 0%,
            #69a5c8 50%,
            #6baac8 92%,
            #6cadc8);
    background: -webkit-gradient(
            linear, left top, left bottom,
            from(#679ec8),
            color-stop(0.50, #6398c8),
            color-stop(0.92, #5e92c8),
            to(#5989c8));
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    border: 1px solid #4c7dc8;
    -moz-box-shadow:
            4px 4px 5px   rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(184, 216, 255, 0.77);
    -webkit-box-shadow:
            4px 4px 5px   rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(184, 216, 255,0.77);
    box-shadow:
            4px 4px 5px  rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(184, 216, 255, 0.77);
}


#opponentBoard{
    color: #fffff9;
    background-color: #ff4c4c;
    padding: 5px;
    height: 23em;
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    background: -moz-linear-gradient(
            top,
            #ff4c4c 0%,
            #ff444d 50%,
            #ff3d4c 92%,
            #ff374b);
    background: -webkit-gradient(
            linear, left top, left bottom,
            from(#ff4c4c),
            color-stop(0.50, #ff444d),
            color-stop(0.92, #ff3d4c),
            to(#ff374b));
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    border: 1px solid #ff5359;
    -moz-box-shadow:
            4px 4px 5px    rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(255, 138, 162, 0.77);
    -webkit-box-shadow:
            4px 4px 5px    rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(255, 138, 162, 0.77);
    box-shadow:
            4px 4px 5px    rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(255, 138, 162, 0.77);

}

#chatPanel.panel.panel-default{
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    border: 1px solid #f4eaff;
    -moz-box-shadow:
            4px 4px 5px  rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(255, 232, 252, 0.77);
    -webkit-box-shadow:
            4px 4px 5px   rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(255, 232, 252, 0.77);
    box-shadow:
            4px 4px 5px   rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(255, 232, 252, 0.77);
}

#infoPanel{
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    border: 1px solid #f4eaff;
    -moz-box-shadow:
            4px 4px 5px   rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(255, 232, 252, 0.77);
    -webkit-box-shadow:
            4px 4px 5px   rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(255, 232, 252, 0.77);
    box-shadow:
            4px 4px 5px  rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(255, 232, 252, 0.77);
}

#playerboard{
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    border: 1px solid #f4eaff;
    -moz-box-shadow:
            4px 4px 5px   rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(255, 232, 252, 0.77);
    -webkit-box-shadow:
            4px 4px 5px    rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(255, 232, 252, 0.77);
    box-shadow:
            4px 4px 5px   rgba(000,000,000,0.5),
            inset 1px 1px 0px rgba(255, 232, 252, 0.77);
}

#navigationBar{
    text-align:center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;


    background: -moz-linear-gradient(
            top,
            #6ca4c8 0%,
            #69a5c8 50%,
            #6baac8 92%,
            #6cadc8);
    background: -webkit-gradient(
            linear, left top, left bottom,
            from(#679ec8),
            color-stop(0.50, #6398c8),
            color-stop(0.92, #5e92c8),
            to(#5989c8));
    -moz-border-radius: 16px;
    -webkit-border-radius: 16px;
    border-radius: 16px;
    border: 1px solid #4c7dc8;
    -moz-box-shadow:
            4px 4px 5px   rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(184, 216, 255, 0.77);
    -webkit-box-shadow:
            4px 4px 5px   rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(184, 216, 255,0.77);
    box-shadow:
            4px 4px 5px  rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(184, 216, 255, 0.77);
}


#messageText.form-control{
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #f4eaff;
    -moz-box-shadow:
            4px 4px 5px    rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(255, 232, 252, 0.77);
    -webkit-box-shadow:
            4px 4px 5px rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(255, 232, 252, 0.77);
    box-shadow:
            4px 4px 5px  rgba(000,000,000,0.5),
            inset 1px 1px 0px rgba(255, 232, 252, 0.77);
}

.list-group-item{
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #f4eaff;
    -moz-box-shadow:
            4px 4px 5px   rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(255, 232, 252, 0.77);
    -webkit-box-shadow:
            4px 4px 5px  rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(255, 232, 252, 0.77);
    box-shadow:
            4px 4px 5px  rgba(000,000,000,0.5),
            inset 1px 1px 0px rgba(255, 232, 252, 0.77);
}

.list-group-item.heading{
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    border: 1px solid #ff5359;
    -moz-box-shadow:
            4px 4px 5px    rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(255, 138, 162, 0.77);
    -webkit-box-shadow:
            4px 4px 5px    rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(255, 138, 162, 0.77);
    box-shadow:
            4px 4px 5px   rgba(000,000,000,0.5),
            inset 1px 2px 0px rgba(255, 138, 162, 0.77);
}


li.instructions {
    list-style-image: url("http://kpraxel.greenrivertech.net/assets/images/board-games-with-roles.png")
}
